*{
    font-family: 'Great Vibes', cursive;
}
body {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcc9da    ;
  }
h1{
    font-size: 200%;
    color: transparent;
    margin-bottom: auto;
    -webkit-text-stroke: 0.2px #fff;
}
h2{
    font-size: 150%;
    color: blue;
    margin: auto;
}
p{
    font-size: 100%;
    margin: auto;
}
img{
    width: 65%;
    margin: 1em auto;
}
.screem-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color:#f79fbe33;
}