*{
    font-family: 'Great Vibes', cursive;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 50px;
    color: blue;
}
p{
    text-align: justify;
    font-size: 35px;
}